/* Styles for the Thought Bubbles App */

body {
  background-color: indigo;
  color: aliceblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: auto;
}

.App {
  display: flex;
  height: 100vh;
  flex-direction: column;
  padding: 1rem;
  text-align: center;
}

h1 {
  font-family: 'Bubblegum Sans', cursive;
}
