/* Styles for the Thought Bubbles App */

body {
  background-color: indigo;
  color: aliceblue;
  margin: auto;
}

.App {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  text-align: center;
}

h1 {
  font-family: 'Bubblegum Sans', cursive;
}
