/* Styles for Card components */

.card {
  display: flex;
  color: black;
  flex-direction: column;
  position: relative;

  /* max-width: 30%; */
  /* max-height: 10rem; */
}

.title {
  font-family: "Bubblegum sans", cursive;
}

.description {

}