/* Styles for the Form component */

form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.bubble-maker {
  background-color: fuchsia;
  padding: 2rem;
  border-radius: 2rem;
}

.bubble {
  background-color: ghostwhite;
  padding: 1rem;
  border-radius: 4rem;
  margin: 1.5rem;
  position: relative;
}

.bubble:before,
.bubble:after {
  content: "";
  background-color: ghostwhite;
  border-radius: 50%;
  display: block;
  position: absolute;
}

.bubble::before {
  width: 2rem;
  height: 2rem;
  top: -1rem;
  left: 2rem;
  box-shadow: -3rem 2rem 0 -.3rem ghostwhite;
}

.bubble::after {
  bottom: -1rem;
  right: 2rem;
  width: 1.5rem;
  height: 1.5rem;
  box-shadow: 2.5rem -2rem 0 0 #ghostwhite,
             -2rem -.5rem 0 -.5rem #ghostwhite,
             -1.5rem 1rem 0 -.5rem #ghostwhite,
             -.5rem 2rem 0 -1rem #ghostwhite;
}

.bubb-input, 
.btn {
  color: rgb(13, 0, 23);
  font-size: 18px;
  margin: .5rem;
}