/* Styles for the Ideas component */

.ideas-wrap {
  display: flex;
  flex-flow: row wrap;
  /* align-items: center; */
  justify-content: center;
  /* position: relative; */
  /* background-color: aquamarine; */
  border-radius: 2rem;
  height: 100%;
  /* height: auto; */
  margin: 1rem;
  padding: 1.2rem;
  /* display: grid; */
  /* grid-template-columns: repeat(3, 1fr); */
  /* grid-gap: 1.2rem; */
}