/* Styles for the Ideas component */

.ideas-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: aquamarine;
  border-radius: 2rem;
  height: 100%;
  margin: 1rem;
  padding: 1.2rem;
  /* display: grid; */
  /* grid-template-columns: repeat(3, 1fr); */
  /* grid-gap: 1.2rem; */
}